

/* /// RESET /// */

*,
*::before,
*::after {
  box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html:focus-within {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, button, input, label {
    line-height: 1.1;
}

p, output {
    text-wrap: balance;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/* /// ROOT /// */

:root {

/* FONTS FAMILY */
    --ff: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

/* FONTS WEIGHT */
    --fw-regular: 400;
    --fw-bold: 700;

/* FONTS SIZE */
  --fs-xs: clamp(0.6944rem, 0.6525rem + 0.2096vi, 0.9145rem); /* 11.11 a 14.63 px / 320 a 2000 vw */
  --fs-s: clamp(0.8333rem, 0.7599rem + 0.3674vi, 1.2191rem); /* 13.33 a 19.50 px / 320 a 2000 vw */
  --fs-m: clamp(1rem, 0.881rem + 0.5952vi, 1.625rem); /* 16 a 26 px / 320 a 2000 vw */
  --fs-l: clamp(1.2rem, 1.016rem + 0.9201vi, 2.1661rem); /* 19.20 a 34.66 px / 320 a 2000 vw */
  --fs-xl: clamp(1.44rem, 1.1643rem + 1.3785vi, 2.8874rem); /* 23.04 a 46.20 px / 320 a 2000 vw */
  --fs-xxl: clamp(1.728rem, 1.324rem + 2.02vi, 3.849rem); /* 27.65 a 61.58 px / 320 a 2000 vw */
  --fs-sl: clamp(2.0736rem, 1.4913rem + 2.9115vi, 5.1307rem); /* 33.18 a 82.09 px / 320 a 2000 vw */


/* SPACE PAIRS */

  --space-xs-s: clamp(0.75rem, 0.5833rem + 0.8333vi, 1.625rem); /* 12 a 26 px / 320 a 2000 vw */
  --space-s-m: clamp(1rem, 0.7262rem + 1.369vi, 2.4375rem); /* 16 a 39 px / 320 a 2000 vw */
  --space-m-l: clamp(1.5rem, 1.1667rem + 1.6667vi, 3.25rem); /* 24 a 52 px / 320 a 2000 vw */
  --space-l-xl: clamp(2rem, 1.4524rem + 2.7381vi, 4.875rem); /* 32 a 78 px / 320 a 2000 vw */
  --space-xl-2xl: clamp(3rem, 2.3333rem + 3.3333vi, 6.5rem); /* 48 a 104 px / 320 a 2000 vw */
}

/* /// UTILITY CLASSES /// */

.theme-dark {
    --bgc: linear-gradient(to left, #000000, #2D3436);
    --color-primary: rgb(30, 30, 30);
    --color-secondary: rgba(52, 52, 52, 0.9);
    --color-contrast: rgb(237, 234, 222) ; /* #EDEADE */
    --color-shadow: rgb(211, 211, 211);
    /* --filter: invert(92%) sepia(11%) saturate(399%) hue-rotate(331deg) brightness(108%) contrast(86%) */
}

.theme-light {
    --bgc: linear-gradient(to left, #ffffff, #d2cbc9);
    --color-primary: rgb(225,225,225);
    --color-secondary: rgba(203, 203, 203, 0.9);
    --color-contrast: rgb(18, 21, 33);
    --color-shadow: rgb(44, 44, 44);
    /* --filter: invert(6%) sepia(15%) saturate(1801%) hue-rotate(191deg) brightness(97%) contrast(95%); */
}

.fs-xs {
    font-size: var(--fs-xs);
}

.fs-s {
    font-size: var(--fs-s);
}

.fs-m {
    font-size: var(--fs-m);
}

.fs-l {
    font-size: var(--fs-l);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-xxl {
    font-size: var(--fs-xxl);
}

@media (min-width: 110rem) {

    :root{
        --space-xs-s: clamp(1rem, 0.7262rem + 1.369vi, 2.4375rem);
        --space-s-m: clamp(1.5rem, 1.1667rem + 1.6667vi, 3.25rem);
        --space-m-l: clamp(2rem, 1.4524rem + 2.7381vi, 4.875rem);
        --space-l-xl: clamp(3rem, 2.3333rem + 3.3333vi, 6.5rem);
        --space-xl-2xl: clamp(4rem, 2.9048rem + 5.4762vi, 9.75rem);
    }

    .fs-xs {
        font-size: var(--fs-s);
    }
    
    .fs-s {
        font-size: var(--fs-m);
    }
    
    .fs-m {
        font-size: var(--fs-l);
    }
    
    .fs-l {
        font-size: var(--fs-xl);
    }
    
    .fs-xl {
        font-size: var(--fs-xxl);
    }

    .fs-xxl {
        font-size: var(--fs-sl);
    }
}


.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.blur {

    filter: blur(20px);
    pointer-events: none;
}

.unable {
    pointer-events: none;
}

#close {

    animation: fade-out 0.7s ease-out;
    display: none;
}

/* .container {
    --max-width: 1100px;
    --margin: 1rem;

    width: min(var(--max-width), 100% - (var(--margin) * 2));
    margin-inline: auto;
} */

/* /// BODY /// */

body{
    font-family: var(--ff);
    background-image: var(--bgc);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

*:disabled {
    background-color: dimgrey;
    opacity: 0.4;
    pointer-events: none;
    
}

/* /// ARTICLES /// */

h1 {
    letter-spacing: 5px;
    cursor: default;
}

article {
    background-color: var(--color-primary);
    border-radius: 5px;
    color: var(--color-contrast);

    /* Esto es lo necesario para que el pop-up quede en el medio */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* hasta aca */

    animation: fade-in 0.7s ease-out;
}

article.start,
article.child {
    padding: var(--space-m-l)
}


article.CpuMode.child {
    padding: var(--space-s-m)
}

@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scaleY(0);
      display: none;
    }
  
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) scaleY(1);
      display: block;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) scaleY(1);
      display: block;
    }
  
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scaleY(0);
      display: none;
    }
}

article section,
article div,
article button {

    cursor: pointer;
}

article section {

    text-align: center;
    padding: var(--space-m-l);
    margin-block: 0;
}

article button {

    margin: auto;
}

article section p {

    transition: ease-in-out 0.4s;
}

article section:hover p {

    transform: scale(1.15);
}

article.mode-selection > :first-child {
    border-bottom: 2px solid var(--color-contrast);
}


/* CHILDREN ARTICLES */


article.child div {

    display: flex;
    flex-direction: column;
    gap: .75rem;
    border-bottom: 1px solid var(--color-contrast);
    padding: var(--space-s-m);
}

article.CpuMode.child div {
    border-bottom: none;
}

article.child fieldset div {

    flex-direction: row;
}

article.child div.buttons {

    flex-direction: row;
    border-bottom: none;
}

article.game-over output,
article.game-over h2 {
    color: var(--color-contrast);
    display: flex;
    justify-content: center;
}

article.game-over section.replay {
    border-bottom: 1px solid var(--color-contrast)
}


input {
    padding: 5px 15px;
    border-radius: 50px;
    outline: none;
    border: 1px solid var(--color-contrast);
}

input[type="radio"]:checked {
    accent-color: var(--color-primary);
}

body.theme-light input[type="radio"]:checked{
    accent-color: var(--color-contrast);
}


button {

    background-color: var(--color-contrast);
    color: var(--color-primary);
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--color-contrast);
    box-shadow: 2px 2px 2px var(--color-shadow);
    transition: ease-in-out 0.3s;
}

button:active {

    transform: scale(0.95);
    box-shadow: 1px 1px 3px var(--color-shadow);
}


/* /// HEADER /// */

header div{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

header button, 
button.cover {

    margin: 1rem;
    width: var(--space-xl-2xl);
    border: none;
    background-color: transparent;
    box-shadow: none;

    transition: ease-in-out 0.1s;
}

header button:active,
button.cover {

    transform: scale(0.8);
    box-shadow: none;
} 

header h1 {
    color: var(--color-contrast);
    margin-bottom: var(--space-m-l);
}

header h3 {
    color: var(--color-contrast);
}

img[data-hidden="true"] {
    display: none;
}


/* /// MAIN /// */


@media (min-width: 52rem) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    p, output {
        text-wrap: wrap;
    }
}

section {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--color-primary);
}

section > button.cover {
    margin-inline-end: auto;
    margin-inline-start: 1rem;
    margin-block: 0;
}

body.theme-dark button.cover img:nth-child(1){

    content: url(../images/eye-white.svg);
}

body.theme-dark button.cover img:nth-child(2){

    content: url(../images/eye-slash-white.svg);
}


body.theme-light button.cover img:nth-child(1){

    content: url(../images/eye.svg);
}

body.theme-light button.cover img:nth-child(2){

    content: url(../images/eye-slash.svg);
}

.board {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns:  repeat(10, 1fr);

    margin: 1rem;
}

.board div {
    border: 1px solid var(--color-secondary);
    aspect-ratio: 1;
    border: 1px solid var(--color-contrast);
    transition: ease-in-out 0.8s;
}

body.theme-dark .board#uncover div.ship {

    content: url(../images/ship-white.svg);
    width: 100%;
}

body.theme-light .board#uncover div.ship {

    content: url(../images/ship.svg);
    width: 100%;
}

.board div.hit,
.board div.miss {

    cursor: not-allowed;
}

.board div.hit:active,
.board div.miss:active {

    background-color: rgba(173, 173, 173, 0.5);
}

.board div.hit,
body.theme-dark .board#uncover div.hit,
body.theme-light .board#uncover div.hit {

    content: url(../images/cross-red.svg);
    width: 100%;
}

.board div.miss {
   
    content: url(../images/water-blue.svg);
    width: 100%;
}

.board div.hit.sunk {
    border: 1px solid rgb(91, 2, 2,0.7);
    background-color: rgb(91, 2, 2, 0.7);

}

.options {

    display: flex;
    flex-direction: column;
    gap: .9rem;
    margin: 1rem;
    padding: 1rem;
}


.options div {

    display: flex;
    gap: 1rem;
    align-items: center;
}

.options button.random{

    border-radius: 50%;
    width: var(--space-l-xl);
    padding: 0;
}

body.theme-dark button.random img {
    content: url(../images/ship-steering.svg);
}

body.theme-light button.random img {
    content: url(../images/ship-steering-white.svg);
}

.options p, output {

    color: var(--color-contrast);
}


/* /// FOOTER /// */

footer {
    text-align: center;
    color: var(--color-contrast);
    padding: var(--space-m-l);
}


